<html>
    <head>
        <!-- placeholder -->
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <form action="/" method="GET">
            <label for="type">Choose a type:</label>
            <select id="type" name="type">
                <!-- <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option> -->
                <option 
                value='All' 
                <%= typeFilter === 'All' ? 'selected="selected"' : '' %>>
                All
                </option>
                <% types.forEach((type) => { %>
                    <option 
                    value="<%= type.name %>" 
                    <%= typeFilter === type.name ? 'selected="selected"' : '' %>>
                    <%= type.name %>
                </option>
                <% }); %>
            </select>
            <label for="trainers">Choose a trainer:</label>
            <select id="trainers" name="trainers">
                <!-- <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option> -->
                <option 
                value='All' 
                <%= trainerFilter === 'All' ? 'selected="selected"' : '' %>>
                All
                </option>
                <% trainers.forEach((trainer) => { %>
                    <option 
                    value="<%= trainer.name %>" 
                    <%= trainerFilter === trainer.name ? 'selected="selected"' : '' %>>
                    <%= trainer.name %>
                </option>
                <% }); %>
            </select>
            <button type="submit">Submit</button>
        </form>
        <!-- <p><a href="/new">Add a message</a></p> -->
        <% items.forEach((item) => { %>
        <span
            >ID:
            <%= item.id %></span
        ><br />
        <span
            >Name:
            <%= item.pokemon_name %></span
        ><br />
        <span
            >Type:
            <%= item.type_name %></span
        ><br />
        <span
            >Trainer:
            <%= item.trainer_name %></span
        ><br />
        <span>----------</span><br />
        <% }); %>
    </body>
</html>
