<html>
    <head>
        <!-- placeholder -->
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <!-- <p><a href="/new">Add a message</a></p> -->
        <% items.forEach((item) => { %>
        <span
            >ID:
            <%= item.id %></span
        ><br />
        <span
            >Name:
            <%= item.pokemon_name %></span
        ><br />
        <span
            >Type:
            <%= item.type_name %></span
        ><br />
        <span
            >Trainer:
            <%= item.trainer_name %></span
        ><br />
        <span>----------</span><br />
        <% }); %>
    </body>
</html>
