<html>
    <head>
        <!-- placeholder -->
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <a href="/">Return to homepage</a><br />
        <%- include("partials/errors.ejs") %>
        <br /><br />
        <form action="/updateTrainer" method="POST">
            <% trainers.forEach((trainer) => { %>
                <input
                value="<%= trainer.name %>" name="<%= trainer.name %>" id="<%= trainer.name %>">
            </input> <br />
            <% }); %>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
